<div id="<%= dom_id user %>">
  <p>
    <strong>User name:</strong>
    <%= user.user_name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Has many:</strong>
    <%= user.has_many %>
  </p>

  <p>
    <strong>Items:</strong>
    <%= user.items %>
  </p>

</div>
