

<div style="backgroundimage:url='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/President_Barack_Obama.jpg/1200px-President_Barack_Obama.jpg'";><%= render 'home/nav' %>
<div style="background:silver;text-align:center;">
<h1>πΌππ‚π“π‚…ππ‚ππ° </h1>
<p>β„¦</p>
</div>
<div style="height:80px; width:90px; border:1px solid grey; color:red; " >
<%= link_to "block", new_item_path %>

</div>
<div style="float:right; height:80px; width:90px; border:1px solid grey; color:red; " >
<%= link_to "block", new_item_path %>
</div>
<%= link_to 'New User', new_user_path%>
<%= link_to 'items', items_path%>

</div>